<div id="appHeaderDiv">
    <div id="appHeadLeftDiv">
        <!--TODO: DEF hiding the notification container is a temporary fix until we address how to do notification in miniMode.-->
        <div id="appNotificationContainer" data-bind="style: {'display': miniMode() ? 'none' : 'inline-block'}">
            <div id="notificationHistoryButtonContainer" data-bind="style: {'display': notificationViewModel.displayNotification() ? 'none' : 'inline-block'}, click: function(){notificationViewModel.toggleOrSetDisplay()}">(...)</div>
            <div id="notificationTextContainer" data-bind="slideVisible: notificationViewModel.displayNotification, slideDuration:600">
                <div data-bind="click: notificationViewModel.closeNotification.bind($data, true), text: notificationViewModel.currentNotification().summary, style:{color: notificationViewModel.currentNotification().getColor()}"></div>
            </div>
        </div>
        <div id="notificationHistoryContainer" data-bind="slideVisible: notificationViewModel.displayWindow, type: 'vert'">
            <!--ko foreach:notificationViewModel.notificationHistory-->
            <div data-bind="text:summary"></div>
            <!--/ko-->
        </div>
    </div>
    <div id="ilmapsMobileMenuButton" data-bind="style: {'display': miniMode() ? 'inline-block' : 'none'}, click: function() {toggleShowMobileHeader()},"></div>
    <div id="ilmapsToolHeaderDiv" data-bind="css: miniMode() ? 'ilmapsMobileToolHeaderDiv':'ilmapsDesktopToolHeaderDiv', style: {'display': getHeaderDisplayVal()},">
        <div id="appHeadRightDiv">
            
            <div id="helpIconContainer">
                <img src="images/help_20x20.png" data-bind="click:function(){window.open('/help')}" />
            </div>
            <div class="ilHeaderVertSeparator"></div>
        </div>
    </div>
</div>