<div id="northContentContainer" data-bind="style: {'bottom': southContentViewModel.heightPx}">
    <div id="mapContainer"></div>
    <!-- ko if: enableToc() == true-->
    <div id="mapLayersDropDownContainer" data-bind="style: {'display': enableToc() == true ? 'inline-block' : 'none'}">
        <div id="mapLayersDropDownButton" data-bind="click:manageLayersViewModel.toggleManageLayers.bind()">
            Layers
            <img id="mapLayersDropDownArrow" src="https://maps.gstatic.com/mapfiles/arrow-down.png" draggable="false">
        </div>
        <div id="mapLayersDropDownContent" data-bind="style: {'display': manageLayersViewModel.showManageLayers() ? 'block' : 'none'}">
            <div class="mapLayersSectionHeader">Site View Layers</div>
            <!-- ko foreach: mapViewModel.mapLayersViewModel.gmeLayers()-->
            <div class="mapLayersMapLayerContainer">
                <input type="checkbox" data-bind="'checked': userVisible == null ? false: userVisible, event: { 'change': $root.mapViewModel.mapLayersViewModel.setGmeLayerVisiblity.bind($data, layerInfo.uuid, !userVisible()) }" />
                <span class="ilMapManageLayersLabel" data-bind="text:displayName, click:$root.mapViewModel.mapLayersViewModel.zoomToGmeLayer.bind($data, layerInfo.uuid), attr:{'class': getClass}"></span>
            </div>
            <!--/ko-->
            <!-- ko foreach: mapViewModel.mapLayersViewModel.postgisMapLayers()-->
            <div class="mapLayersMapLayerContainer">
                <input type="checkbox" data-bind="'checked': userVisible" />
                <span class="ilMapManageLayersLabel" data-bind="text:displayName"></span>
            </div>
            <!--/ko-->
            <!-- ko foreach: mapViewModel.mapLayersViewModel.ilmeLayers()-->
            <div class="mapLayersMapLayerContainer">
                <input type="checkbox" data-bind="'checked': userVisible == null ? false: userVisible, event: { 'change': $root.mapViewModel.mapLayersViewModel.setIlmeLayerUserVisiblity.bind($data, layerInfo.uuid, !userVisible()) }" />
                <span class="ilMapManageLayersLabel" data-bind="text:displayName"></span>
            </div>
            <!--/ko-->
            <!--ko if: mapViewModel.mapLayersViewModel.wmsLayers().length > 0-->
            <div class="mapLayersSectionHeader">WMS Layers</div>
            <!--/ko-->
            <!-- ko foreach: mapViewModel.mapLayersViewModel.wmsLayers()-->
            <div class="mapLayersMapLayerContainer">
                <input type="checkbox" data-bind="'checked': userVisible == null ? false: userVisible, event: { 'change': $root.mapViewModel.mapLayersViewModel.setWmsLayerUserVisiblity.bind($data, layerInfo.uuid, !userVisible()) }" />
                <span class="ilMapManageLayersLabel" data-bind="text:displayName"></span>
            </div>
            <!--/ko-->
            <!--ko if: mapViewModel.userKmlLayers().length > 0-->
            <div class="mapLayersSectionHeader">User Layers</div>
            <!--/ko-->
            <!-- ko foreach: mapViewModel.userKmlLayers-->
            <div class="mapLayersMapLayerContainer">
                <input type="checkbox" data-bind="'checked': userVisible == null ? false: userVisible, event: { 'change': $root.mapViewModel.setKmlLayerUserVisibility.bind($data, uuid, !userVisible) }" />
                <span class="ilMapManageLayersLabel" data-bind="text:displayName, click:$root.mapViewModel.zoomToKmlLayer.bind($data, uuid)"></span>
                <span class="removeUserLayerLinkContainer" data-bind="click: $root.mapViewModel.removeKmlLayerByUuid.bind($data, uuid)">X</span>
            </div>
            <!--/ko-->
            <!--ko if: redlineViewModel.allLayers().length > 0-->
            <div class="mapLayersSectionHeader">Redline Layers</div>
            <!-- /ko-->
            <!-- ko foreach: redlineViewModel.allLayers -->
            <div class="mapLayersMapLayerContainer">
                <input type="checkbox" data-bind="checked: visible" />
                <span class="ilMapManageLayersLabel clickable" data-bind="text:name, click: zoomTo"></span>
                <span class="removeUserLayerLinkContainer" data-bind="click: $parent.redlineViewModel.removeLayer, visible: $parent.redlineViewModel.allLayers().length > 1">X</span>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <!--/ko-->
    <div id="coordinateDisplayContainer" data-bind="with: mapViewModel"><span data-bind="text: mapCoordinates"></span></div>
    <div id="leftNavContainer" data-bind="slideVisible: leftNavControllerViewModel.displayWindow, type: 'slide'">
        <a role="button" id="leftNavResultsButton" data-bind="style:{'display': showSearchResultsIcon() ? 'block' : 'none'}, click: leftNavControllerViewModel.requestWindowOpen.bind($data, resultsViewModel.WINDOWKEY)"></a>
    </div>

    <div data-bind="compose:resultsViewModel"></div>

    <div id="mapDataManagerButton" data-bind="slideVisible: !fileUploadViewModel.displayWindow() && userConnected, type: 'vert', click: mapViewModel.addKmlLayer"></div>
    <div id="uploadFileContainer" class="toolboxContainer manageMapData" data-bind="slideVisible: fileUploadViewModel.displayWindow, type: 'scale'">
        <div id="uploadFileContainerHeaderDiv" class="toolboxHeader" data-bind="click: function(){fileUploadViewModel.cancel()}">
            <span id="uploadFileHeaderTextContainer" class="toolboxHeaderTextContainer" data-bind="text:fileUploadViewModel.caption"></span>
            <span id="toolboxCloseButtonContainer" class="toolboxCloseButtonContainer"></span>
        </div>
        <div id="mapDataManagerContentContainer">
            <form id="uploadFileForm" enctype="multipart/form-data" method="POST" action="/api/files/kml/uploads">

                <input id="source" type="hidden" name="source" value="client" />
                <div id="appAddKmlFileUploadChooser">
                    <input id="addKmlFileSystemInput" type="file" name="file" />
                </div>
                <!--<div id="imageGalleryAddImageDropboxChooser" data-bind="style:{'display': galleryViewModel.selectedUploadMode() == galleryViewModel.uploadModes.dropbox ? 'block' : 'none'}">
                    <input type="button" value="Choose File" data-bind="click: galleryViewModel.openDropboxChooser.bind()" />
                    <span id="imageGalleryAddImageChosenDropboxFileLabel" data-bind="text:galleryViewModel.dropboxChosenFileName()"></span>
                </div>-->
                <div id="mapDataManagerLoadLayerButtonContainer">
                    <div id="kmlFileUploadSubmitButtonContainer"><input id="openKmlFileSystem" value="Open" type="button" data-bind="click:fileUploadViewModel.uploadFile.bind()"></div>
                    <div id="kmlFileUploadZoomLayerCheckboxContainer" data-bind="visible:fileUploadViewModel.showZoomTo"><input type="checkbox" data-bind="checked: fileUploadViewModel.zoomToLoadedLayer" />Zoom to layer?</div>
                </div>
            </form>
        </div>
    </div>

    <!--ko if: hasGeolocation--><div id="zoomCurrentLocationButton" data-bind="click: mapViewModel.zoomCurrentLocation.bind()"></div><!--/ko-->
    <div id="toolBoxButton" class="toolBoxButton" data-bind="slideVisible: !toolboxViewModel.displayWindow() && userConnected, type: 'vert', click: function(){toolboxViewModel.toggleOrSetDisplay()}, style: {'background': toolboxViewModel.activeTool().activeIcon}"></div>
    <div id="toolboxContainer" class="toolboxContainer toolbox" data-bind="slideVisible: toolboxViewModel.displayWindow, type: 'scale'">
        <div id="toolboxHeader" class="toolboxHeader" data-bind="click: function(){toolboxViewModel.toggleOrSetDisplay()}">
            <span id="toolboxHeaderTextContainer" class="toolboxHeaderTextContainer" data-bind="text:toolboxViewModel.activeTool().caption"></span>
            <span id="toolboxCloseButtonContainer" class="toolboxCloseButtonContainer"></span>
        </div>
        <div id="toolboxContent">
            <!--ko if: toolboxViewModel.activeTool().key == "measureTool" -->
            <div id="toolboxMeasureToolValueLabels">
                <span data-bind="text: 'Total: ' + mapViewModel.measureToolViewModel.totalMeasureDistance()"></span>
                <span>    </span>
                <span data-bind="text: 'Last: ' + mapViewModel.measureToolViewModel.lastMeasureSegmentDistance()"></span>
            </div>
            <div id="toolboxMeasureToolUnitsSelectContainer">
                <div>feet <input type="radio" name="measureUnitsGroup" value="ft" data-bind="checked: mapViewModel.measureToolViewModel.userSelectedUnits" /></div>
                <div>meters <input type="radio" name="measureUnitsGroup" value="m" data-bind="checked: mapViewModel.measureToolViewModel.userSelectedUnits" /></div>
            </div>
            <div id="toolboxMeasureToolClearResetContainer">
                <div>
                    <span class="link-button" data-bind="click:function(){ toolboxViewModel.setActiveTool(toolboxViewModel.emptyTool); mapViewModel.measureToolViewModel.clearRuler(); }">Clear</span>
                    <span> - </span>
                    <span class="link-button" data-bind="click:mapViewModel.measureToolViewModel.clearRuler">Reset</span>
                </div>
            </div>
            <!--/ko-->
            <!--ko if: toolboxViewModel.activeTool().key == "redlineTool" -->
            <div id="redlineContentContainer" data-bind="with: redlineViewModel">
                <div id="redlineMenuContainer" class="tabBar" data-bind="foreach:allTabs">
                    <div class="tabItem" data-bind="text:$data, click:function(){$parent.activeTab($data);}, css: {active: $parent.activeTab() == $data}"></div>
                </div>
                <!-- ko if: activeTab() == tabs.edit-->
                <div id="redlineEditContainer">
                    <div data-bind="foreach: drawingTools" style="font-size:0px; text-align:center">
                        <div class="redlineTool" data-bind="click: $parent.setActiveTool, css: {active: $parent.activeDrawingTool() == $data}">
                            <img data-bind="attr:{src: icon}" />
                        </div>
                    </div>
                    <hr />
                    <div>
                        <span>Layer:</span>
                        <select id="redlineActiveLayer" data-bind="options:allLayers, optionsText: 'name', value: activeLayer"></select>
                    </div>
                    <div class="top-spaced" data-bind="visible: selectedRecord() == null">Use the drawing tools above to create a feature.</div>
                    <!-- ko if: selectedRecord() != null -->
                    <div class="top-spaced">
                        <span>Name: </span>
                        <input type="text" data-bind="value: selectedRecord().name" placeholder="Enter Name" />
                    </div>
                    <div class="top-spaced">Description:</div>
                    <textarea id="redlineDescriptionArea" data-bind="value: selectedRecord().description" placeholder="Enter a description for the feature"></textarea>
                    <div id="redlineBottomContentContainer">
                        <span class="link-button" data-bind="click: deleteSelectedRecord">Delete</span>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- /ko-->
                <!-- ko if: activeTab() == tabs.layers -->
                <div id="redlineLayersContainer">
                    <div id="redlineLayerList" data-bind="foreach: allLayers">
                        <div id="redlineLayerListItem">
                            <input type="checkbox" data-bind="checked: visible" />
                            <input type="text" data-bind="value:name" />
                            <img src="images/delete_circle.png" class="image-button" data-bind="click: $parent.removeLayer, visible: $parent.allLayers().length > 1" />
                            <img src="images/download.png" class="image-button" data-bind="click: $parent.exportLayer, visible: !$parent.isMobile()" />
                        </div>
                    </div>
                    <div id="redlineBottomContentContainer">
                        <span class="link-button" data-bind="click: newLayer">New</span>
                        <!-- ko if: !isMobile() -->
                        <span> - </span>
                        <span class="link-button" data-bind="click: uploadLayer">Open</span>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
        <div id="toolboxToolbar" data-bind="foreach: toolboxViewModel.allTools()">
            <span class="toolBox-toolButton" data-bind="style : {'background-image': $parent.toolboxViewModel.activeTool() == $data ? activeIcon : inactiveIcon}, click : function(){$parent.toolboxViewModel.setActiveTool($data);}">&nbsp;</span>
        </div>
    </div>
</div>