<div id="northContentContainer" data-bind="style: {'bottom': southContentViewModel.heightPx}">
    <div id="mapContainer"></div>
    <div id="coordinateDisplayContainer" data-bind="with: mapViewModel"><span data-bind="text: mapCoordinates"></span></div>
    
    <!--ko if: hasGeolocation--><div id="zoomCurrentLocationButton" data-bind="click: mapViewModel.zoomCurrentLocation.bind()"></div><!--/ko-->
    <div id="toolBoxButton" class="toolBoxButton" data-bind="slideVisible: !toolboxViewModel.displayWindow() && userConnected, type: 'vert', click: function(){toolboxViewModel.toggleOrSetDisplay()}, style: {'background': toolboxViewModel.activeTool().activeIcon}"></div>
    <div id="toolboxContainer" class="toolboxContainer toolbox" data-bind="slideVisible: toolboxViewModel.displayWindow, type: 'scale'">
        <div id="toolboxHeader" class="toolboxHeader" data-bind="click: function(){toolboxViewModel.toggleOrSetDisplay()}">
            <span id="toolboxHeaderTextContainer" class="toolboxHeaderTextContainer" data-bind="text:toolboxViewModel.activeTool().caption"></span>
            <span id="toolboxCloseButtonContainer" class="toolboxCloseButtonContainer"></span>
        </div>
        <div id="toolboxContent">
            <!--ko if: toolboxViewModel.activeTool().key == "measureTool" -->
            <div id="toolboxMeasureToolValueLabels">
                <span data-bind="text: 'Total: ' + mapViewModel.measureToolViewModel.totalMeasureDistance()"></span>
                <span>    </span>
                <span data-bind="text: 'Last: ' + mapViewModel.measureToolViewModel.lastMeasureSegmentDistance()"></span>
            </div>
            <div id="toolboxMeasureToolUnitsSelectContainer">
                <div>feet <input type="radio" name="measureUnitsGroup" value="ft" data-bind="checked: mapViewModel.measureToolViewModel.userSelectedUnits" /></div>
                <div>meters <input type="radio" name="measureUnitsGroup" value="m" data-bind="checked: mapViewModel.measureToolViewModel.userSelectedUnits" /></div>
            </div>
            <div id="toolboxMeasureToolClearResetContainer">
                <div>
                    <span class="link-button" data-bind="click:function(){ toolboxViewModel.setActiveTool(toolboxViewModel.emptyTool); mapViewModel.measureToolViewModel.clearRuler(); }">Clear</span>
                    <span> - </span>
                    <span class="link-button" data-bind="click:mapViewModel.measureToolViewModel.clearRuler">Reset</span>
                </div>
            </div>
            <!--/ko-->
            <!--ko if: toolboxViewModel.activeTool().key == "redlineTool" -->
            <div id="redlineContentContainer" data-bind="with: redlineViewModel">
                <div id="redlineMenuContainer" class="tabBar" data-bind="foreach:allTabs">
                    <div class="tabItem" data-bind="text:$data, click:function(){$parent.activeTab($data);}, css: {active: $parent.activeTab() == $data}"></div>
                </div>
                <!-- ko if: activeTab() == tabs.edit-->
                <div id="redlineEditContainer">
                    <div data-bind="foreach: drawingTools" style="font-size:0px; text-align:center">
                        <div class="redlineTool" data-bind="click: $parent.setActiveTool, css: {active: $parent.activeDrawingTool() == $data}">
                            <img data-bind="attr:{src: icon}" />
                        </div>
                    </div>
                    <hr />
                    <div>
                        <span>Layer:</span>
                        <select id="redlineActiveLayer" data-bind="options:allLayers, optionsText: 'name', value: activeLayer"></select>
                    </div>
                    <div class="top-spaced" data-bind="visible: selectedRecord() == null">Use the drawing tools above to create a feature.</div>
                    <!-- ko if: selectedRecord() != null -->
                    <div class="top-spaced">
                        <span>Name: </span>
                        <input type="text" data-bind="value: selectedRecord().name" placeholder="Enter Name" />
                    </div>
                    <div class="top-spaced">Description:</div>
                    <textarea id="redlineDescriptionArea" data-bind="value: selectedRecord().description" placeholder="Enter a description for the feature"></textarea>
                    <div id="redlineBottomContentContainer">
                        <span class="link-button" data-bind="click: deleteSelectedRecord">Delete</span>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- /ko-->
                <!-- ko if: activeTab() == tabs.layers -->
                <div id="redlineLayersContainer">
                    <div id="redlineLayerList" data-bind="foreach: allLayers">
                        <div id="redlineLayerListItem">
                            <input type="checkbox" data-bind="checked: visible" />
                            <input type="text" data-bind="value:name" />
                            <img src="images/delete_circle.png" class="image-button" data-bind="click: $parent.removeLayer, visible: $parent.allLayers().length > 1" />
                            <img src="images/download.png" class="image-button" data-bind="click: $parent.exportLayer, visible: !$parent.isMobile()" />
                        </div>
                    </div>
                    <div id="redlineBottomContentContainer">
                        <span class="link-button" data-bind="click: newLayer">New</span>
                        <!-- ko if: !isMobile() -->
                        <span> - </span>
                        <span class="link-button" data-bind="click: uploadLayer">Open</span>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
        <div id="toolboxToolbar" data-bind="foreach: toolboxViewModel.allTools()">
            <span class="toolBox-toolButton" data-bind="style : {'background-image': $parent.toolboxViewModel.activeTool() == $data ? activeIcon : inactiveIcon}, click : function(){$parent.toolboxViewModel.setActiveTool($data);}">&nbsp;</span>
        </div>
    </div>
</div>